@use '../../scss/' as *;

.container {
    position: relative;
    padding: 20px 36px;
    h2 {
      font-size: 2.6rem;
    }
    z-index: 1;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
}

.category {
    margin-bottom: 24px;
    margin-left: 24px;
    // display: flex;
    // justify-content: flex-end;
    & :global(.MuiFormControl-root) {
        >label {
            font-size: 1.8rem;
            background-color: white;
        }

        & :global(.MuiSelect-select) {
            padding: 16px 100px 16px 14px !important;
            font-size: 1.6rem;
            line-height: 2.6rem;
        }
    } 
}

.headerButton {
    margin-left: auto;
    button {
        font-size: 1.45rem;
        background-color: $primary-color;
        color: white;
        padding: 8px 12px;
    }

    button:hover {
        background-color: $primary-color;
        opacity: 0.85;
    }
}

.dataContainer {
    margin-top: 24px;
    height: 450px;
    // height: auto;
    z-index: 1;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .optionEdit {
        position: relative;
        margin-right: 24px;
        button {
            padding: 8px 0;
            font-size: 1.45rem;
        }
    }

    .optionDelete {
        margin-right: 24px;
        button {
            padding: 8px 0;
            font-size: 1.45rem;
        }
    }
}

.pagination {
    margin-top: 16px;
    display: flex;
    justify-content: center;

    :global(.MuiButtonBase-root) {
        font-size: 1.4rem;

        & >button {
            & :global(.MuiSvgIcon-root) {
                font-size: 1.6rem;
            }
        }
    }
}
