@use "../../scss/" as *;

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    background-color: rgba(0,0,0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.body {
    min-width: 350px;
    min-height: 500px;
    background-color: white;
    position: relative;

    

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-bottom: 2px solid $primary-color;
    margin-bottom: 16px;
    h3 {
        font-size: 2rem;
        font-weight: 400;
        color: $text-color;
    }
}

.close {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 8px;

    :global(.MuiSvgIcon-root) {
        font-size: 2.15rem !important;
    }
}
}

.form {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.field {
    margin: 8px 0;
    & >:global(.MuiFormControl-root) {
        & >:global(.MuiInputLabel-root) {
          font-size: 1.6rem;
        }
  
        & >:global(.MuiOutlinedInput-root) {
          font-size: 1.6rem;
        }
  
        & >:global(.MuiFormHelperText-root) {
          font-size: 1.4rem;
          margin: 8px 0;
          color: red;
        }
      }
}

.button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    button {
        padding: 8px 12px;
        font-size: 1.45rem;
    }
}
