@use './variable' as *;

@mixin flex($alignItems, $justifyContent) {
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

@mixin mobile {
    @media only screen and (max-width:$mobile-width){
        display: none;
    }
}

@mixin tablet {
    @media only screen and (max-width:$tablet-width){
        @content;
    }
}

@mixin miniPC {
    @media only screen and (max-width:$minipc-width){
        @content;
    }
}