$header-height: 92px;
$primary-color: #00ab55;
$hover-color: #f1f2f5;
$sidebar-width: 275px;
$text-color: #333;
$border-color: #e1e5e9;

$mobile-width:739px;
$tablet-width:1024px;
$minipc-width:1280px;
